/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
    font-size: 20px;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* Overlay opaco */
.overlay::after{
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clear: both;
    z-index: 1;
}

/* Hover */
.menu ul li:hover a{
    color: blue;
}
/* -------------------------------------------- */

section{
    margin-top: 30px;
}

.container{
    max-width: 1600px;
    margin: auto;
}

header{
    max-width: 100%;
}

.header-logo{
    height: 70px;
    padding-right: 10px;
    border-right: 1px solid grey;
}

.menu ul li{
    display: inline-block;
    margin-top: 30px;
}

.menu ul li a{
    text-decoration: none;
    margin-right: 10px;
}

section.yellow{
    max-width: 100%;
    height: 501px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

section.yellow > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-img{
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 4;
}

.description-img h2, p{
    color: white;
}

.description-img h2{
    font-size: 30px;
}

section.blu{
    max-width: 1600px;
    min-height: 672px;
}

.sidebar-header{
    width: 100%;
    min-height: 86px;
}

.sidebar-header h1{
    font-size: 35px;
    color: black;
    padding-top: 12px;
}

.titolo{
    margin-top: 10px;
}

.content_under_sidebar{
    width: 100%;
    margin: 25px 0;
}

.content_under_sidebar [class^=side] {
    float: left;
}

.side-sx, .side-dx{
    max-width: 15%;
    min-height: 537px;
}

.side_sx_img{
    width: 100%;
    height: 199px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}


.side_sx_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side_description{
    margin-top: 20px;
}

.side_description h4{
    color: black;
}

.side_description > p{
    color: grey;
    margin-top: 10px;
}

.side-center{
    max-width: calc(100% - 15% - 15% - 40px);
    min-height: 537px;
    margin: 0 20px;
}

.side_center_img{
    width: 100%;
    height: 199px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.side_center_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



footer{
    max-width: 1600px;
    min-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 60px;
    text-align: center;
}

footer h3{
    color: black;
}

footer h3 span{
    color: red;
    font-size: 30px;
}
